<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='build/img/favicon.ico')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='build/style.css')}}" />
</head>
<body>
  {% include 'header.html' %}
  <main>
    {% include 'skills.html' %}
    {% include 'projects.html' %}
    {% include 'whoAmI.html' %}
  </main>
  {% include 'footer.html' %}
  {% include 'script.html' %}
  <script> 
    window.intergramId = "5339783578";
    window.intergramServer = "https://chatbot.antonkindt.be"
    console.log(decodedName)
    window.intergramCustomizations = {
        titleClosed: 'Stuur mij een bericht',
        titleOpen: 'Stuur mij een bericht',
        introMessage: 'Hey, '+decodedName,
        autoResponse: 'Ik ga zo snel mogelijk proberen antwoorden!',
        autoNoResponse: 'Sorry, ik kan op dit moment niet antwoorden. Stuur je email adres en dan zal ik zo snel mogelijk proberen antwoorden!',
        mainColor: "#111", // Can be any css supported color 'red', 'rgb(255,87,34)', etc
        alwaysUseFloatingButton: false // Use the mobile floating button also on large screens
    };
</script>
<script id="intergram" type="text/javascript" src="https://chatbot.antonkindt.be/js/widget.js"></script>
<!-- <script id="intergram" type="text/javascript" src="http://192.168.1.41:3000/js/widget.js"></script> -->
</body>
</html>