<article class="container">
    <h2 class="subTitle">Projecten</h2>
    {% for i, project in range(props.projects|length)|zip(props.projects) %}

      <section class="project {% if i > 2 %}hidden{% endif %} flex lg:gap-10 sm:gap-5">
        <div class="lg:w-3/5 sm:w-1/2">
          <picture>
            <source media="(min-width:1536px)" srcset=
              "{{url_for('static', filename='build/img/pagePictures/1024_{0}'.format(project.img))}} 1x,
              {{url_for('static', filename='build/img/pagePictures/2048_{0}'.format(project.img))}} 2x">
            <source media="(min-width:1280px)" srcset=
              "{{url_for('static', filename='build/img/pagePictures/768_{0}'.format(project.img))}} 1x,
              {{url_for('static', filename='build/img/pagePictures/1536_{0}'.format(project.img))}} 2x">
            <source media="(min-width:1024px)" srcset=
              "{{url_for('static', filename='build/img/pagePictures/512_{0}'.format(project.img))}} 1x,
              {{url_for('static', filename='build/img/pagePictures/1024_{0}'.format(project.img))}} 2x">
            <source media="(min-width:768px)" srcset=
              "{{url_for('static', filename='build/img/pagePictures/384_{0}'.format(project.img))}} 1x,
              {{url_for('static', filename='build/img/pagePictures/768_{0}'.format(project.img))}} 2x">
            <img class="w-full" src="{{url_for('static', filename='src/img/pagePictures/{0}'.format(project.img))}}" alt="">
          </picture>
          <div class="flex items-center justify-around my-5">
            <a class="text-black bg-white border-2 border-black text-xl px-8 py-3" href="{{project.url}}">Bezoek</a>
            {% if project.github %}
              <a href="{{project.github}}">
                <img class="filter-black w-16 h-16 p-3 mx-4" src="{{url_for('static', filename='build/img/github-icon.svg')}}" alt="">
              </a>
            {% endif %}
          </div>
        </div>
        <div class="lg:w-2/5 sm:w-1/2">
          <h3>{{project.title}}</h3>
          <p class="font-light">{{project.text}}</p>
        </div>
      </section>
    {% endfor %}
    <button class="showMore flex mx-auto bg-black text-white py-3 px-10">Toon meer</button>
</article>