<article class="container">
    <h2 class="subTitle">Projecten</h2>
    {% for project in props.projects %}
      <section class="flex gap-20">
        <div class="w-3/5">
          <img class="" src="{{url_for('static',filename='img/pagePictures/{0}'.format(project.img))}}" alt="">
          <div class="flex items-center justify-around my-5">
            <a class="text-black bg-white border-2 border-black text-xl px-8 py-3" href="{{project.url}}">Bezoek</a>
            {% if project.github %}
              <a href="{{project.github}}"><img class="w-10" src="{{url_for('static',filename='img/github.png')}}" alt=""></a>
            {% endif %}
          </div>
        </div>
        <div class="w-2/5">
          <h3>{{project.title}}</h3>
          <p class="font-light">{{project.text}}</p>
        </div>
      </section>
    {% endfor %}
</article>