<script>
    getParameter = (key) => {
    
    // Address of the current window
    address = window.location.search

    // Returns a URLSearchParams object instance
    parameterList = new URLSearchParams(address)

    // Returning the respected value associated
    // with the provided key
    return parameterList.get(key)
    }

    decodedName = ""
    if(getParameter("name")){
        getParameter("name").split("-").reverse().forEach((c, i) =>{
            value = parseInt(c)
            while(value > 0){
                decodedName = String.fromCharCode(value % 256) + decodedName
                value = Math.floor(value / 256)
            }
        })

        document.querySelector(".companyName").textContent = decodedName

        // terminal message
        console.log("%c%s", "color: #00ff00; font-size: 20px;", "Hello, " + decodedName + "!")
        // terminal warming
        console.log("%c%s", "color: #ff0000; font-size: 14px;", "Try hacking the name of the company in the URL to see what happens!")
    }

    document.querySelector("button.showMore").addEventListener("click", () => {
        document.querySelectorAll(".hidden + .project").forEach(e => {
            e.classList.remove("hidden")
        })
        document.querySelectorAll(".showMore").forEach(el => {el.remove()})
    })

    document.querySelectorAll(".skill").forEach(skill => {
        skill.addEventListener("click", e=>{
            let target = e.currentTarget.getAttribute("target")
            let $targetElement = document.querySelector(`.${target}.skill_description`)
            if ($targetElement== document.querySelector(".skill_description:not(.collapsed)")){
                return;
            }
            let first = true
            document.querySelectorAll(".skill_description:not(.collapsed)").forEach(e => {
                e.classList.add("collapsed")
                first = false
            })
            setTimeout(() => {$targetElement.classList.remove("collapsed")}, !first?300:0)
        })
    })

    const scrollToTargetAdjusted = target => {
        let headerOffset = 50;
        let elementPosition = target.getBoundingClientRect().top;
        let offsetPosition = elementPosition + window.pageYOffset - headerOffset;
    
        window.scrollTo({
            top: offsetPosition,
            behavior: "smooth"
        });
    }
    //scroll to element when clicking on the nav item
    document.querySelectorAll(".nav_item").forEach(nav_item => {
        nav_item.addEventListener("click", e=>{
            e.preventDefault()
            let target = e.currentTarget.getAttribute("target")
            scrollToTargetAdjusted(document.querySelector(`#${target}`))
        })
    })
</script>