<article class="py-8 md:py-16 container">
    <h2 id="skills" class="skills">Skills</h2>
    {% for skill_sub in props.skills %}
      <section>
        <h3 class="py-4 md:py-8">{{skill_sub.title}}</h3>
        <ul class="flex dense flex-wrap gap-4">
          {% for skill in skill_sub["values"] %}
            <li target="{{skill.title}}" class="skill flex  items-center px-2 md:px-8 py-1 md:py-1.5 m-2 md:m-3" style="outline: {{skill.level}}px solid black; outline-offset: {{10 - skill.level | int}}px">
              {{skill.title}} <img class="w-3 md:w-4 ml-2 md:ml-4" src="{{url_for('static', filename='build/img/arrowDown.svg')}}" alt="">
            </li>
          {% endfor %}
        </ul>
        <article class="my-3">
          {% for skill in skill_sub["values"] %}
              <section class="collapsed md:w-96 bg-black text-white {{skill.title}} skill_description">
                <div class="flex">
                  <h4>{{skill.title}}</h4>
                  <div class="pl-4 skillLevel{{skill.level}} flex justify-center">
                    {% set colormap = ["cyan", "green", "yellow", "orange", "red"]%}
                    {% for _ in range(skill.level|int) %}
                      <img class="px-1 filter-{{ colormap[skill.level|int - 1] }}" src="{{url_for('static', filename='build/img/dot.svg')}}" width="24px" alt="">
                    {% endfor %}
                  </div>
                </div>
                <p class="font-light">{{skill.description}}</p>
              </section>
            {% endfor %}
        </article>
      </section>
    {% endfor %}
</article>