@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: radikal, futura, sans;
    line-height: 1.8;
}
.header_title{
    font-size: 3.6rem;
}
@media (min-width: 640px) {
    .header_title{
        font-size: 5rem;
    }    
}
@media (min-width: 1024px) {
    .header_title{
        font-size: 8rem;
    }    
}


h2{
    @apply text-3xl;
}

h3{
    @apply text-xl;
}

.filter-white{
    filter: brightness(100%);
}

.filter-black{
    filter: brightness(0%);
}

.filter-cyan {
    filter: hue-rotate(180deg) brightness(200%);
}

.filter-green {
    filter: hue-rotate(135deg) brightness(200%);
}

.filter-yellow {
    filter: hue-rotate(45deg) brightness(200%);
}

.filter-orange {
    filter: hue-rotate(0deg) brightness(200%);
}

.filter-red {
    filter: hue-rotate(0deg) brightness(100%);
}

.collapsed.skill_description{
    max-height: 0;
    padding: 0;
    transition: max-height 0.3s linear, padding 0s linear 0.3s;
}

.skill_description{
    max-height: 30rem;
    transition: max-height 0.3s linear;
    overflow-y: hidden;
    padding: 2rem 3rem;
}

.skillCategoryActive{
    height: 15rem;
}