@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: radikal, futura, sans;
    line-height: 1.8;
}

.header_title{
    font-size: 8rem;
}

h2{
    @apply text-3xl;
}

h3{
    @apply text-xl;
}

.filter-white{
    filter: brightness(100%);
}

.filter-black{
    filter: brightness(100%);
}